<div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">Log in</div>
	  <div class="panel-body">
	  	<%= form_tag(user_login_path) do %>
	  	  <div class="form-group">
		    <label>User Name</label>
		    <%= text_field_tag :username, '', class: "form-control" %>
	      </div>
		  <div class="clearfix"></div>

		  <div class="form-group">
		    <%= submit_tag "Create User Name", class: "btn btn-primary float-right" %>
		  </div>
	  	<% end %>
	  </div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">Create your User Name</div>
	  <div class="panel-body">
		<%= link_to "Create User", new_user_path, type: 'button', class: "btn btn-primary btn-lg btn-block" %>
	  </div>
	</div>
</div>